.navbar { 
    background-color: rgb(214, 211, 211);

} 

body {
    font-family: "Poppins";
}


img {
    border-radius: 8%;

}

.column {
    float: left;
    padding: 30px;
    height: 450px;
    border-top: 8px;
    border-radius: 5px; 
}
    
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    text-align: center;

}

.center2 {
    margin: auto;
    width: 60%;
    text-align: justify;
    padding-top: 1px;
}
.right {
    width: 35%;
}

.left {
    width: 35%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.newspaper {
    column-count: 3;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  } 